<section class="bg-zinc-900 p-20 rounded-xl my-4">
    <h2 class="text-5xl font-bold mb-4">About Us</h2>
    <p class="text-zinc-300">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore molestias quis laboriosam reiciendis voluptatibus veniam, dolores aliquid perferendis, quod obcaecati, atque quia dolor voluptas possimus. Sapiente quia porro tenetur laborum animi perferendis in adipisci ducimus voluptas obcaecati pariatur, dolor eligendi officia fuga quasi est quibusdam assumenda, culpa hic cupiditate temporibus.</p>
</section>
