<section class="flex flex-col py-20 md:flex-row md:p-10 gap-y-10">
    <div class="flex-1 grid grid-cols-2 gap-4">
        <div class="text-center">
            <img src="favicon.svg" class="w-20 m-auto" alt="">
            <p class="mt-3">Dev management</p>
        </div>
        <div class="text-center">
            <img src="favicon.svg" class="w-20 m-auto" alt="">
            <p class="mt-3">Dev management</p>
        </div>
        <div class="text-center">
            <img src="favicon.svg" class="w-20 m-auto" alt="">
            <p class="mt-3">Dev management</p>
        </div>
        <div class="text-center">
            <img src="favicon.svg" class="w-20 m-auto" alt="">
            <p class="mt-3">Dev management</p>
        </div>
    </div>

    <div class="flex-1 grid gap-y-5 text-center content-center">
        <h2 class="text-3xl font-bold">Lorem ipsum dolor sit.</h2>
        <p class="text-xl">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis, qui!</p>
    </div>
</section>