---
import Layout from "../layouts/Layout.astro"

---

<Layout title="Acerca de">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi excepturi eos est, animi ratione officia repudiandae. Eos repudiandae eius hic magni, a dolores similique, culpa voluptas pariatur voluptatem facilis perspiciatis voluptate esse nostrum! Expedita ipsa asperiores corporis facilis reprehenderit quo excepturi odit reiciendis sapiente voluptatum provident cupiditate perferendis blanditiis, at in neque, aspernatur est adipisci quis fuga ab molestiae, rerum dolores. Dolor quam magnam inventore ea quia sunt odit ut nobis quidem animi voluptatem laudantium dolorem doloribus, in, molestias fugit vero veniam repellat. Voluptatem temporibus incidunt culpa? Amet, nulla rem harum fuga vero autem, voluptas porro provident necessitatibus temporibus quas.</p>
</Layout>